body {
    background-image: url('../images/4924685-cake-background.jpg');
}

.content {
    //background-color: #FFE8E8;
    background-color: white;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.main-body {
    padding-top: 30px;
    margin-top: 30px;
}

.main-body p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.25em;
}

.footer.content {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 1px;
    padding-top: 5px;
}

.footer.content p {
    font-family: 'Indie Flower', cursive;
    font-size: 0.9em;
}

.post-list {
    padding-right: 1em;
    padding-bottom: 1em;
}
.navigation .logo {
    margin: 0 auto;
    width: 128px;
}

/* primary navigation */
nav.primary {
    display: table;
    margin: 0 auto;
}

nav.primary ul,
nav.primary ul li {
    margin: 0;
}

nav.primary select {
    display: none;
    width: 100%;
    height: 28px;
    margin: 21px 0;
}

nav.primary ul li {
    display: inline;
    position: relative;
}

nav.primary ul li a {
    display: inline-block;
    line-height: 49px;
    padding: 0 14px;
    //color: white;
    //text-transform: uppercase;
    //text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.08em;
    font-family: 'Indie Flower', cursive;
    font-size: 1.25em;
    //background: #999999;
}

nav.primary ul li a:hover {
    background: pink;
    cursor: pointer;
}

/* social buttons */
nav.social {
    display: table;
    margin: 0 auto;
}

nav.social ul,
nav.social ul li {
    margin: 0;
}

nav.social select {
    display: none;
    width: 100%;
    height: 28px;
    margin: 21px 0;
}

nav.social ul li {
    display: inline;
    position: relative;
}

nav.social ul li a {
    display: inline-block;
    padding: 0 14px;
}

nav.social ul li a:hover {
    cursor: pointer;
}

/* Larger than mobile */
@media (min-width: 400px) {
    .navigation .logo {
        width: 256px;
    }

    .main-body .blog-title {
        max-width: 100%;
        box-sizing: border-box;
        background-image: url('https://placeholdit.imgix.net/~text?txtsize=14&txt=banner+%28400x128%29&w=400&h=128&txttrack=0');
        height: 128px;
        font-size: 1.5em;
        font-weight: bold;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .navigation .logo {
        width: 256px;
    }
    .main-body .blog-title {
        max-width: 100%;
        box-sizing: border-box;
        background-image: url('https://placeholdit.imgix.net/~text?txtsize=14&txt=banner+%28550x256%29&w=550&h=256&txttrack=0');
        height: 256px;
        font-size: 1.75em;
        font-weight: bold;
    }
}

.main-body .blog-title {
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: middle;
}

/* Larger than tablet */
@media (min-width: 750px) {
    .navigation .logo {
        width: 256px;
    }
    .main-body .blog-title {
        max-width: 100%;
        box-sizing: border-box;
        background-image: url('https://placeholdit.imgix.net/~text?txtsize=14&txt=banner+%28900x256%29&w=750&h=256&txttrack=0');
        height: 256px;
        font-size: 2.5em;
        font-weight: bold;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .navigation .logo {
        width: 256px;
    }
    .main-body .blog-title {
        max-width: 100%;
        box-sizing: border-box;
        background-image: url('https://placeholdit.imgix.net/~text?txtsize=14&txt=banner+%28900x256%29&w=900&h=256&txttrack=0');
        height: 256px;
        font-size: 2.5em;
        font-weight: bold;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .navigation .logo {
        width: 256px;
    }
    .main-body .blog-title {
        max-width: 100%;
        box-sizing: border-box;
        background-image: url('https://placeholdit.imgix.net/~text?txtsize=14&txt=banner+%28900x256%29&w=900&h=256&txttrack=0');
        height: 256px;
    }
}

hr {
    background:url('/assets/images/cakes.jpg') repeat-x top left;
    border: 0;
    height: 65px;
}